.banner {
  background: gray;
}

body {
  font-family: Quicksand, sans-serif;
}

.demo-card-wide.mdl-card {
  width: 100%;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

td.title {
  font-weight: bold;
}

td.left {
  text-align: left;
}

td.right {
  text-align: right;
}

.card-row > * {
  display: inline-block;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.mdl-navigation__link {
  cursor: pointer;
}

.display-title {
  font-family: Quicksand, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.display-item {
  font-family: Quicksand, sans-serif;
  font-size: 12px;
}

.clickable {
  cursor: pointer;
}

.accent {
  color: rgb(63, 81, 181);
  fill: rgb(63, 81, 181);
}

.accent-background {
  background: rgb(63, 81, 181);
}

.accent-white {
  color: white;
}

.right {
  float: right;
}

.text-center {
  text-align: center;
}
