<script src="js/manage_userprofile.js"></script>

<style>
  .cart {
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 60px;
    font-size: 40px;
    line-height: 60px;
  }

  .product-card {
    height: 220px;
  }

  .profile_picture {
    margin: auto;
    border-radius: 50px;
    background: lightgray;
    height: 100px;
    width: 100px;
  }
</style>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--12-col display-title">Gerenciar usuários</div>

  <div id="user_list" class="mdl-grid mdl-cell mdl-cell--12-col"></div>

  <div class="mdl-cell mdl-cell--12-col">
    <button id="new_user" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent right">
      Novo usuário
    </button>
  </div>

</div>
