<script src="js/manage_services.js"></script>
<style>
  table {
    border-collapse: collapse;
    border: 1px solid #d3d3d3;
  }

  tbody:nth-child(odd) {
    background: #d7d7d7;
  }

  tbody:nth-child(even) {
    background: #d3d3d3;
  }
</style>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--9-col-desktop mdl-cell--10-col-tablet mdl-cell--6-col-phone display-title">Gerenciar produtos</div>

  <div class="mdl-cell mdl-cell--3-col">
    <button id="new_service" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent right">
      Novo serviço
    </button>
  </div>

  <div id="product_list" class="mdl-grid mdl-cell mdl-cell--12-col"></div>

</div>
