<script src="js/services.js"></script>
<style>
  .service {
    border-collapse: collapse;
    border: 1px solid #d7d7d7;
  }

  .service td, .service th{
    width: 20%;
    text-align: center;
  }

  tbody:nth-child(odd) {
    background: #d7d7d7;
  }

  tbody:nth-child(even) {
    background: #d3d3d3;
  }

  .service-card {
    height: 220px;
  }

  .service-card {
    height: 220px;
  }

  .service-header {
    height: 10%;
  }

  .service-image {
    height: 70%;
  }

  .service-cart-row {
    height: 20%;
  }
</style>
<div class="mdl-grid mdl-layout__content">

    <div class="mdl-cell mdl-cell--4-col-desktop display-title">Gerenciar serviços</div>
    <div class="mdl-cell mdl-cell--8-col-desktop"></div>

    <div class="mdl-cell mdl-cell--12-col">
      <table class="service" style="margin: auto;">
        <thead>
          <tr>
            <th>Serviço</th>
            <th>Animal</th>
            <th>Valor</th>
            <th>Data Agendada</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Banho e Tosa</td>
            <td>Fofusho</td>
            <td>R$35,00</td>
            <td>06/07/2017</td>
            <td><i class="material-icons clickable accent">mode_edit</i> <i class="material-icons clickable accent">cancel</i></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mdl-cell mdl-cell--4-col-desktop display-title">Serviços disponiveis</div>
    <div class="mdl-cell mdl-cell--8-col-desktop"></div>

    <div class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-cell-tablet mdl-cell--12-col-phone service-card">
      <div class="display-title text-center service-header">Produto 1</div>
      <div class="service-image"></div>
      <div class="text-center service-cart-row">
        <i class="material-icons clickable select_service right">check_circle</i>
      </div>
    </div>

    <div class="mdl-cell mdl-cell--12-col new_service">
      <div class="mdl-cell mdl-cell--4-col-desktop display-title">Calendario</div>
      <div class="mdl-cell mdl-cell--8-col-desktop"></div>

      <div id="calendar" class="mdl-cell mdl-cell--12-col" style="height: 300px; background: blue;"></div>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent right">
        Agendar Servico
      </button>
    </div>

</div>
