<script src="js/manage_products.js"></script>
<style>
  .cart {
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 60px;
    font-size: 40px;
    line-height: 60px;
  }

  .product-card {
    height: 220px;
  }

  .product-header {
    height: 10%;
  }

  .product-image {
    height: 70%;
  }

  .product-cart-row {
    height: 20%;
  }

  .add_to_cart {
    line-height: 40px;
  }
</style>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--10-col-desktop mdl-cell--10-col-tablet mdl-cell--6-col-phone display-title">Gerenciar produtos</div>

  <div id="product_list" class="mdl-grid mdl-cell mdl-cell--12-col"></div>
  
  <div class="mdl-cell mdl-cell--12-col">
    <button id="new_product" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent right">
      Novo produto
    </button>
  </div>
</div>
