<script src="js/products.js"></script>
<style>
  .cart {
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 60px;
    font-size: 40px;
    line-height: 60px;
  }

  .product-card {
    height: 220px;
  }
  
  .product-header {
    height: 10%;
  }
  
  .product-image {
    height: 70%;
  }
  
  .product-cart-row {
    height: 20%;
  }
  
  .add_to_cart {
    line-height: 40px;
  }
</style>
<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--10-col-desktop mdl-cell--10-col-tablet mdl-cell--6-col-phone display-title">Produtos</div>
  <div class="mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--6-col-phone">
    <i id="cart" class="material-icons cart accent-white accent-background clickable">shopping_cart</i>
  </div>

  <div data-id="1" class="mdl-cell mdl-cell--3-col-desktop mdl-cell--6-cell-tablet mdl-cell--12-col-phone product-card text-center">
    <div class="display-title text-center clickable product-header">Produto 1</div>
    <div class="product-image clickable"></div>
    <div class="text-center product-cart-row">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 80%;">
        <input class="mdl-textfield__input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="sample4">
        <label class="mdl-textfield__label" for="sample4">Quantidade</label>
        <span class="mdl-textfield__error">Precisa ser um numero!</span>
      </div>
      <i class="material-icons accent clickable add_to_cart">add_shopping_cart</i>              
    </div>
  </div>
</div>
