<div class="mdl-grid">
  <div class="mdl-cell--4-col mdl-cell--4-offset">
    <div class="demo-card-wide mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title" style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSuQwtSLOmsCJiintY-Hf7a4xA9g5P_wIuoOyNDqxxb8zTlVaCOQ') center / cover;">
        <h2 class="mdl-card__title-text">Usuario</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <table style="width: 100%; word-break: break-word;">
          <tr>
            <td class="title">Nome:</td>
            <td class="data-view">adsjkdhkjas</td>
          </tr>
          <tr>
            <td class="title">Telefone:</td>
            <td class="data-view">119999999</td>
          </tr>
          <tr>
            <td class="title">Enredereco:</td>
            <td class="data-view">rua da sua rola</td>
          </tr>
          <tr>
            <td class="title">email:</td>
            <td class="data-view">surra@de.bunda</td>
          </tr>
        </table>
      </div>
      <div class="mdl-card__menu">
        <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
          <i class="material-icons">edit</i>
        </button>
      </div>
    </div>
  </div>
  <div class="mdl-cell--4-col" style="position: relative;">
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" style="float: right; position: absolute; bottom: 0px; margin-left: 10px;">
      Cadastrar Animal
    </button>
  </div>

  <div class="mdl-cell--12-col card-row" style="margin-top: 20px;">
    <div class="mdl-cell--4-col">
      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title" style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT24Cb5-cQZNdQBid1Rw7pvR_Jvq21w2LePDt5mwKB0CKb4uhIwnQ') center / cover">
          <h2 class="mdl-card__title-text">Usuario</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <table style="width: 100%; word-break: break-word;">
            <tr>
              <td class="title">Nome:</td>
              <td class="data-view">khfjjhg</td>
            </tr>
            <tr>
              <td class="title">Espècie:</td>
              <td class="data-view">catioro</td>
            </tr>
            <tr>
              <td class="title">Raça:</td>
              <td class="data-view">troxa</td>
            </tr>
          </table>
        </div>

        <div class="mdl-card__menu">
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">edit</i>
          </button>
        </div>
      </div>
    </div>

    <div class="mdl-cell--4-col">
      <div class="demo-card-wide mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title" style="background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT24Cb5-cQZNdQBid1Rw7pvR_Jvq21w2LePDt5mwKB0CKb4uhIwnQ') center / cover">
          <h2 class="mdl-card__title-text">Usuario</h2>
        </div>
        <div class="mdl-card__supporting-text">
          <table style="width: 100%; word-break: break-word;">
            <tr>
              <td class="title">Nome:</td>
              <td class="data-view">khfjjhg</td>
            </tr>
            <tr>
              <td class="title">Espècie:</td>
              <td class="data-view">catioro</td>
            </tr>
            <tr>
              <td class="title">Raça:</td>
              <td class="data-view">troxa</td>
            </tr>
          </table>
        </div>

        <div class="mdl-card__menu">
          <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
            <i class="material-icons">edit</i>
          </button>
        </div>
      </div>
    </div>
  </div>

</div>